body {
    margin: 0; 
    background-color: #696969;
    color: #fff;    
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 45px;
    background:  url('../images/background.jpg');
    background-repeat: repeat;
}

p {
    font-weight: 700;
    display: inline;
    color: #ff8c00;
    transition: all 1s;
}

p:hover {
    color: #ff0000;
}

.article__header {
    text-align: center;
    text-shadow: 2px 2px 5px #ff0000;
    margin-bottom: 25px;
}

.article__img {
    width: 500px;
    height: 350px;
    float: right;
    margin-right: 50px;
    border: 5px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
}

.article__list-one {
    list-style-type: square;
}

.article__list-two {
    list-style-type: upper-roman;
}